.app-notification-drawer__icon-text {
    padding-bottom: var(--pf-global--spacer--sm);
}

.app-notification-drawer__icon-text > .pf-c-button {
    margin-left: 8px;
}

.app-notification-drawer__icon {
    color: var(--pf-global--Color--400);
}

.app-notification-drawer__time-stamp {
    color: var(--pf-global--Color--400);
    font-size: var(--pf-global--FontSize--sm);
    padding-top: var(--pf-global--spacer--md);
}

